<P>Eval File Example</P>
<P>With dynamic server programs like PHP and Perl it is nice to <i>evaluate</i> a text file.</P>
To evaluate a file means to execute it. The reason to do this with a dynamic server program 
is so that a static text file can hold variables that are replaced at run time.<BR><BR>
This file is an example of how to use the EvalFile(...) function in $_SERVER['SERVER_SOFTWARE'] to replace 
variables that are embedded in static text files.
<BR>
Take a look at the link for eval.html below and see how the variable of _SERVER['SERVER_SOFTWARE'] gets replaced.<BR>
You can also populate your own hash table with data from an SQL query or what ever. Make sure you endorce the hash before you try to use it.
You use the endorce function to turn $MyOwnHash['field1'] the varilabe parsing.
