<BR><B>This is an ARM processor</B><BR>
<H1 ALIGN="CENTER">Welcome to LED control.</H1>
<TABLE CELLSPACING="0" CELLPADDING="1" WIDTH="220" ALIGN="CENTER">
	<TR>
		<TD BGCOLOR="#455EFF">
<TABLE CELLSPACING="0" CELLPADDING="10" WIDTH="100%" ALIGN="CENTER">
	<TR>
		<TD BGCOLOR="#E0E0E0">
<TABLE CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
	<TR>
		<TD ALIGN="CENTER" WIDTH="190"><B>I/O</B></TD>
		<TD ALIGN="CENTER"><B>On</B></TD>
	</TR>
	<TR>
		<TD WIDTH="190">Green LED</TD>
		<TD><INPUT TYPE="CHECKBOX" ID="greenled" VALUE="Y" onClick="SetState('greenled')"></TD>
	</TR>
	<TR>
		<TD WIDTH="190"><BR></TD>
		<TD><BR></TD>
	</TR>
	<TR>
		<TD WIDTH="190">Red LED</TD>
		<TD><INPUT TYPE="CHECKBOX" ID="redled" VALUE="Y" onClick="SetState('redled')"></TD>
	</TR>
</TABLE>
</TD></TR></TABLE>
</TD></TR></TABLE>
<BR><BR><BR>
